In [ ]:
#Q#9
key= input("Enter the key (int) to be added:")
value=input("Enter the value for the key to be added:")
d={}
d.update({key:value})
print("Updated dictionary is:")
print(d)
if d[0] = key:
    print("its here")

In [4]:
Q
d.append(key)

AttributeError: 'dict' object has no attribute 'append'

In [ ]:
#Q#10
key= input("Enter the key (int) to be added:")
value=input("Enter the value for the key to be added:")
d={}
d.update({key:value})
print("Updated dictionary is:")
print(d)

In [ ]:
print("update dictionary is {d}.".format(d="reald")

In [ ]:
9.	key= input("Enter the key (int) to be added:")
value=input("Enter the value for the key to be added:")
d={}
d.update({key:value})
print("Updated dictionary is:")
print(d)
if d.key() == "Ali":
    print("its here")
else:
    print("its not")

In [ ]:
#Q#11
wordstring = 'it was the best of times it was the worst of times '
wordstring += 'it was the age of wisdom it was the age of foolishness'

wordlist = wordstring.split()

wordfreq = []
for w in wordlist:
    wordfreq.append(wordlist.count(w))

print("String\n" + wordstring +"\n")
print("List\n" + str(wordlist) + "\n")
print("Frequencies\n" + str(wordfreq) + "\n")
print("Pairs\n" + str(list(zip(wordlist, wordfreq))))

In [ ]:
X = ["Feb", Apr, Mar, May, Jun, Jul, Aug, Jan]

In [1]:
X = ["Feb", "Apr", "Mar", "May", "Jun", "Jul", "Aug", "Jan"]

In [3]:
X[0:3]

['Feb', 'Apr', 'Mar']

In [6]:
X = ["Feb", "Apr", "Mar", "May", "Jun", "Jul", "Aug", "Jan"]
X[2:8]

['Mar', 'May', 'Jun', 'Jul', 'Aug', 'Jan']

In [12]:
X = ["Feb", "Apr", "Mar", "May", "Jun", "Jul", "Aug", "Jan"]
X[4:9]

['Jun', 'Jul', 'Aug', 'Jan']

In [13]:
X = ["Feb", "Apr", "Mar", "May", "Jun", "Jul", "Aug", "Jan"]
X[1:7:2]

['Apr', 'May', 'Jul']

In [14]:
X = ["Feb", "Apr", "Mar", "May", "Jun", "Jul", "Aug", "Jan"]
X[-1:-7]# tHIS IS NOT THE RIGHT WAY AS big one is writeen later instead of at the beginning

[]

In [15]:
X = ["Feb", "Apr", "Mar", "May", "Jun", "Jul", "Aug", "Jan"]
X[-7:7]

['Apr', 'Mar', 'May', 'Jun', 'Jul', 'Aug']

In [16]:
X = ["Feb", "Apr", "Mar", "May", "Jun", "Jul", "Aug", "Jan"]
X[-1:-8:-2]

['Jan', 'Jul', 'May', 'Apr']

In [17]:
X = ["Feb", "Apr", "Mar", "May", "Jun", "Jul", "Aug", "Jan"]
X[:4]

['Feb', 'Apr', 'Mar', 'May']

In [18]:
#Q#12
X = [ 9,2,8,4,5]
X.remove(9)

In [19]:
print(X)

[2, 8, 4, 5]

In [20]:
#Q#13
p = 3
q = 'hello! '
print( q * p)

hello! hello! hello!

In [24]:
#Q#14
y = "this is a random sentence"
print (y.upper())

THIS IS A RANDOM SENTENCE

In [25]:
#Q#15
p = True
q = 'True'
r = 2
s = 2.0
print(type(p))
print(type(q))
print(type(r))
print(type(s))

<class 'bool'>
<class 'str'>
<class 'int'>
<class 'float'>

In [27]:
# 16 answer is p and R2
# 17 p.x() 
# 
X = 4 
Y = 2
print(X % Y)
print(X / Y)
print(X // Y)
print(Y % X)

0
2.0
2
2

In [ ]:
#    **: exponentiation
#^: exclusive-or (bitwise)
#%: modulus
#//: divide with integral result (discard remainder)

In [48]:
#Q#19
x = [[4, 1, 1], [5, 9, 0]]
nx = sum(x,[])
for i in nx:
     print (i)

4
1
1
5
9
0

In [69]:
x = [[4, 1, 1], [5, 9, 0]]
nx = sum(x,[])
for element in (nx):
    print (element)

4
1
1
5
9
0

In [76]:
x = [[4, 1, 1], [5, 9, 0]]
for k,v in zip(*x):
         
    print(k,v)

4 5
1 9
1 0

In [80]:
#Q#20
q = [10.62, 16.14, 6.45, 17.11]
for j, z in enumerate (q) :
    print('Item' + str( j ) + ' - ', str ( z ))

Item0 -  10.62
Item1 -  16.14
Item2 -  6.45
Item3 -  17.11

In [ ]:
# 21 b The keys of a dictionary can be accessed using values

In [85]:
D = dict()
for i in range (3):
    for j in range(2):
        D[i] = j
        print(D)

{0: 0}
{0: 1}
{0: 1, 1: 0}
{0: 1, 1: 1}
{0: 1, 1: 1, 2: 0}
{0: 1, 1: 1, 2: 1}

In [ ]:
#  Q no 22 and ANSWER IS a
# 23 answer is a to meet the first requirment
#  23 answer is b to meet the second requirement
#  23 answer is True

In [87]:
#Q#24
def avg ( x , y , z = 50 ):
    adding = x + y + z
    avg_value = adding / 3
    return avg_value
y = avg ( x = 5 , y = 9 , z = 20 )
print(y)

11.333333333333334

In [102]:
#Q#25
def avg ( name, *opt_values):
    avg_value = sum (opt_values) / len(opt_values)
    print('name is:'+"" + name + "  "'Marks are:' + str(avg_value))
avg ('Ali' ,5 , 9 , 20, 34, 87, 112 )

name is:Ali  Marks are:44.5

In [107]:
#Q#26
def display_result(winner, score, **other_info):
    print("The winner was " + winner)
    print("The score was " + score)
display_result(winner="Manchester", score="1-0", overtime ="yes", injuries="none")

The winner was Manchester
The score was 1-0

In [110]:
#Q#27
def display_result(winner, score, **other_info):
    print("The winner was " + winner)
    print("The score was " + score)
display_result(winner="Manchester", score="1-0", overtime ="yes", injuries="none")

The winner was Manchester
The score was 1-0

In [ ]:
# 28 ANSWER IS B
# 29 ANSWER IS C

In [111]:
# Q 30
'{0:f}, {1:2f}, {2:05.2f}'.format(1.23456, 1.23456, 1.23456)

'1.234560, 1.234560, 01.23'

In [ ]:
i = 1
while False:
    if i%2 == 0:
        break
print(i)
i += 2

In [114]:
1%2

1

In [115]:
1/2

0.5

In [12]:
#Q#31
i = 3 # intialized i value as 2
while False: # Testing of the condition unlesss it becomes true
    if i%3 == 0: # when remainder is zero loops break
        break
print(i)
     #Unless condition is true
i += 2

In [17]:
i = 1 # intialized i value as 2
while False: # Testing of the condition unlesss it becomes true
    if i%3 == 0: # when remainder is zero loops break
        break
print(i)
     #Unless condition is true
i+= 2

1

In [4]:
#Q#32
x = "abcdef"  # INPUT STRING IS STORED IN VARIABLE X
i = "a"       # iterative element is given character 'a'
while i in x: # use of while loop untill i is present in variable x
    x = x[:-1] # x has been given the range of values from index 0 to index 7(last index)
print(i, end = " ") # Information is displayed.

a

In [5]:
#Q#33
for i in ''.join(reversed(list('abcd'))):
list('abcd')
print (i)

['a', 'b', 'c', 'd']

In [8]:
reversed(list('abcd'))

In [9]:
print(reversed(list('abcd')))

<list_reverseiterator object at 0x000002B8E6ADCBE0>

In [13]:
# Q 33
for i in ''.join(reversed(list('abcd'))): # In this list list elements abcd are reveresed and join by space
    print (i)     # Reversed and spaced list is displayed

d
-
c
-
b
-
a

In [30]:
# Q 34
for i in range(10):
    # Range of 0 to 10 is defined for iteration
    if (i == 6):  # Comparison operator is used and iterative element i is compared with 5 and if i=5 LOOP IS EXITED
        break       # and for all the other elements else block will be executed 
    else:
        print(i)
    else:
        print("Here")

SyntaxError: invalid syntax (<ipython-input-30-33c7fa2d7f78>, line 8)

In [44]:
for i in range(10):
    # Range of 0 to 10 is defined for iteration
    if i == 2:  # Comparison operator is used and iterative element i is compared with 5 and if i=5 LOOP IS EXITED
        break       # and for all the other elements else block will be executed 
    else:
        print(i)
    else:
              print("Here")

SyntaxError: invalid syntax (<ipython-input-44-abdfd946d947>, line 7)

In [57]:
# q 35
y = 6
z = lambda x:x*y
#z = lambda x: x * y
print(z(8))

48

In [70]:
i=0
def change(i):
    i=i+1
    return i
change(1)
print(i)

0

In [71]:
#36 not understanding this function 
i=0
def change(i):
    i=i+1
    return i
change(1)
print(i)

0

In [73]:
# 40 question
def change(one, *two): # function is defined and unknown number of arguments were passed
    print(type(two))   # type of argument is asked
    print(two)         # function is called and  tuple is printed
change(1,2,3,4)

<class 'tuple'>
(2, 3, 4)

In [75]:
#Q#41
def find(a, **b): # function is defined and unknown arguements were passed inside the dictionary
    print(type(b)) # type of unknow elements in b were found.
    find('letters',A='1',B='2') # function is called with input dictionary element arguments

<class 'dict'>

In [77]:
Q 42
def foo(i, x=[]):
    x.append(i)
    return x
for i in range(3):
    print(foo(i))

[0]
[0, 1]
[0, 1, 2]

In [ ]:
# 43
(3*(1+2)**2)-(2**2)*3)

braket ,1+2, then 3pow 2 and 2pow2
9*3 =27 and then 4*3=12
27-12= 15

In [78]:
# 44  answer is E
# 45 
random.randrange(5, 11, 1)

NameError: name 'random' is not defined